@media(max-width:1024px) {
    .container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .wrapper {
        width: 100%;
    }

    .content {
        padding: 0;
        text-align: center;
    }

    .box {
        width: 100%;
    }

    .report-guru {
        transform: translateX(0);
    }

    .best-tech {
        transform: translateX(0);
    }

    .article-card {
        max-width: 50%;
        grid-template-columns: none;
    }
}